{% extends "package/base_li.html" %}

{% set res = c.resource %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(res.description, extract_length=200) if res.description else h.markdown_extract(c.package.notes, extract_length=200) %}
  <meta property="og:title" content="{{ h.dataset_display_name(c.package) }} - {{ h.resource_display_name(res) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape }}">
{% endblock -%}

{% block subtitle %}{{ h.dataset_display_name(c.package) }} - {{ h.resource_display_name(res) }}{% endblock %}

{% block pages_top_link_inner %}{% endblock %}

{% block group_con_bx %}

    <div class="full-rigi-bg-box">
        <div class="container">
            <div class="row">
                {% block pages_top_link_inner_other %}
                    <div class="pages-top-link">
                        <a href="{{ h.url('home') }}"><i class="fa fa-home" aria-hidden="true"></i></a>
                        {% if pkg %}
                            {% set dataset = pkg.title or pkg.name %}
                            {% if pkg.organization %}
                                {% set organization = pkg.organization.title or pkg.organization.name %}
                                <span>/</span>
                                {% link_for _('Organizations'), controller='organization', action='index' %}
                                <span>/</span>
                                {% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}
                            {% else %}
                                <span>/</span>
                                {% link_for _('Datasets'), controller='package', action='search' %}
                            {% endif %}
                            <span>/</span>
                            {% link_for dataset|truncate(30), controller='package', action='read', id=pkg.name %}
                        {% else %}
                            <span>/</span>
                            {% link_for _('Datasets'), controller='package', action='search' %}
                            <span>/</span>
                            <a href="">{{ _('Create Dataset') }}</a>
                        {% endif %}
                        <span>/</span>
                        <a href="">{{ h.resource_display_name(res)|truncate(30) }}</a>
                    </div>
                {% endblock %}
                
                {% block resource_content %}
                    {% block resource_content_top_box %}
                        <div class="full-rigi-data-top-box">
                            {% block resource_read_title %}
                                <h5>{{ h.resource_display_name(res) | truncate(50) }}</h5>
                            {% endblock %}
                            {% block resource_actions_inner %}
                                <span class="right-box">
                                    {% if res.url and h.is_url(res.url) %}
                                        <a class="button-one" href="{{ res.url }}">
                                            {% if res.resource_type in ('listing', 'service') %}
                                                <i class="fa fa-external-link"></i> {{ _('View') }}
                                            {% elif  res.resource_type == 'api' %}
                                                <i class="fa fa-external-link"></i> {{ _('API Endpoint') }}
                                            {% elif not res.has_views or not res.can_be_previewed %}
                                                <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
                                            {% else %}
                                                <i class="fa fa-external-link"></i> {{ _('Download') }}
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                    {% if 'datastore' in g.plugins %}
                                        {% snippet 'package/snippets/data_api_button_li.html', resource=res, datastore_root_url=c.datastore_api %}
                                    {% endif %}
                                </span>
                            {% endblock %}
                            <div class="clearfix"></div>
                            {% block resource_read_url %}
                                {% if res.url and h.is_url(res.url) %}
                                    <a href="#" class="url-link-right-data">{{ _('URL:') }} {{ res.url }}</a>
                                {% elif res.url %}
                                    <a href="#" class="url-link-right-data">{{ _('URL:') }} {{ res.url }}</a>
                                {% endif %}
                            {% endblock %}
                            <p class="data-rigi-text">
                                {% if res.description %}
                                    {{ h.render_markdown(res.description) }}
                                {% endif %}
                            </p>
                        </div>
                    {% endblock %}
                    
                    
                    
                    
                    {% block resource_content_explorer_box %}
                        <div class="data-explorer-box">
                            <h3 class="data-explorer-text"><i class="fa fa-calendar"></i>Data explorer</h3>
                            {% set resource_preview = h.resource_preview(c.resource, c.package) %}
                            {% set views_created = res.has_views or resource_preview %}
                            {% if views_created %}
                                {% if resource_preview and not current_resource_view %}
                                    {{ h.resource_preview(c.resource, c.package) }}
                                {% else %}
                                    {% for resource_view in resource_views %}
                                        {% if resource_view == current_resource_view %}
                                            {% snippet 'package/snippets/resource_view_li.html',
                                               resource_view=resource_view,
                                               resource=c.resource,
                                               package=c.package
                                             %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                {# Views not created #}
                                <div class="module-content data-viewer-info">
                                    <p>{{ _("There are no views created for this resource yet.") }}</p>
                                    {% if h.check_access('resource_view_create', {'resource_id': c.resource.id}) %}
                                        <p class="muted">
                                            <i class="icon-info-sign"></i>
                                            {{ _("Not seeing the views you were expecting?")}}
                                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
                                                {{ _('Click here for more information.') }}
                                            </a>
                                        </p>
                                        <div id="data-view-info" class="collapse">
                                            <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
                                            <ul>
                                                <li>{{ _("No view has been created that is suitable for this resource")}}</li>
                                                <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
                                                <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% endblock %}
                {% endblock %}
                
                
                
                {% block aside_content_other %}
                    <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        {% block resources_list %}
                            {% snippet "package/snippets/resources_li.html", pkg=pkg, active=res.id %}
                        {% endblock %}
                      
                        {% block resource_license %}
                            {% snippet "snippets/social_li.html", alt=true %}
                        {% endblock %}
                    </aside>
                {% endblock %}
                
                
                
                {% block article_content_other %}
                    <article class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="additional-info-box">
                            <h3 class="addit-infor">{{ _('Additional Information') }}</h3>
                            {% if res %}
                                <div class="full-data-regi-box top-box">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                              <tr>
                                                <th>{{ _('Field') }}</th>
                                                <th>{{ _('Value') }}</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td class="left-text-table">{{ _('Last updated') }}</td>
                                                <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
                                              </tr>
                                              <tr>
                                                <td class="left-text-table">{{ _('Created') }}</td>
                                                <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
                                              </tr>
                                              <tr>
                                                <td class="left-text-table">{{ _('Format') }}</td>
                                                <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
                                              </tr>
                                              <tr>
                                                <td class="left-text-table">{{ _('License') }}</td>
                                                <td>{% snippet "snippets/license_li.html", pkg_dict=pkg, text_only=True %}</td>
                                              </tr>
                                              {% for key, value in h.format_resource_items(res.items()) %}
                                                <tr><td class="left-text-table">{{ key }}</td><td>{{ value }}</td></tr>
                                              {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </article>
                    <div class="clearfix"></div>
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}