{#{% block secondary_content %}
<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a>
</div>
{% endblock %}#}







{% extends "page_li.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Datasets') }}{% endblock %}

{% block pages_top_link_inner %}
    {% snippet 'snippets/breadcrumbs_li.html', breadcrumbTitle='Datasets', controller='package', action='search' %}
{% endblock %}

{#
{% block page_primary_action %}
    {% if h.check_access('package_create') %}
        {% link_for _('Add Dataset'), controller='package', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
    {% endif %}
{% endblock %}
#}

{% block article_inner %}
    <div class="groups-found-box">
        {% block form %}
            {% set facets = {
                'fields': c.fields_grouped,
                'search': c.search_facets,
                'titles': c.facet_titles,
                'translated_fields': c.translated_fields,
                'remove_field': c.remove_field }
            %}
            {% set sorting = [
                (_('Relevance'), 'score desc, metadata_modified desc'),
                (_('Name Ascending'), 'title_string asc'),
                (_('Name Descending'), 'title_string desc'),
                (_('Last Modified'), 'metadata_modified desc'),
                (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
            %}
            {% snippet 'snippets/search_form_li.html', form_id='dataset-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
        {% endblock %}
        {% block package_search_results_list %}
            {{ h.snippet('snippets/package_list_li.html', packages=c.page.items) }}
        {% endblock %}
    </div>
{% endblock %}


{% block page_pagination %}
  {{ c.page.pager(q=c.q) }}
{% endblock %}


{% block aside_inner %}
    {% for facet in c.facet_titles %}
        {{ h.snippet('snippets/facet_list_li.html', title=c.facet_titles[facet], name=facet) }}
    {% endfor %}
{% endblock %}

