{% macro license_string(pkg_dict) %}
    {{ pkg_dict.license_title }}
{% endmacro %}

{% block license %}
    {% if text_only %}
        {% if pkg_dict.license_id %}
            {{ license_string(pkg_dict) }}
        {% else %}
            {{ _('No License Provided') }}
        {% endif %}
    {% else %}
        <div class="group-text-box">
            {% if pkg_dict.license_id %}
                {% block license_wrapper %}
                    
                        {% block license_title %}
                            <h4>{{ _('License') }}</h4>
                        {% endblock %}
                        {% block license_content %}
                            <p>
                                {% block license_content_inner %}
                                    {{ license_string(pkg_dict) }}
                                {% endblock %}
                            </p>
                            {% if pkg_dict.isopen %}
                                <img class="open-img" src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="[Open Data]" />
                            {% endif %}
                        {% endblock %}
                {% endblock %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
