{#
Embeds a organization within the sidebar of a page.

organization    - The organization dict.
truncate - A max length for the organization description. If not provided the description
           will be full length.
has_context_title - Boolean for whether to display a module-heading for when
                    this snippet appears within a non-organization template
                    (e.g. dataset page sidebar)

Example:

    {% snippet 'snippets/organization, organization=c.group_dict %}

#}

{% set truncate = truncate or 0 %}
{% set url = h.url_for(controller='organization', action='read', id=organization.name) %}

{% block info %}
  
    <div class="register-top-box">
        {% block inner %}
            <div class="register-box">
                {% block image %}
                    <img class="res-img-logo" src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}" />
                {% endblock %}
                {% block heading %}
                    <p class="gdm-reg-text">{{ organization.title or organization.name }}</p>
                {% endblock %}
                {% if organization.description %}
                    <p class="gdm-reg-sub-text">
                        {{ h.markdown_extract(organization.description, 180) }}
                    </p>
                {% else %}
                    <p class="empty gdm-reg-sub-text">{{ _('There is no description for this organization') }}</p>
                {% endif %}
                <a href="#"><i class="fa fa-plus"></i></a>
            </div>
            {% block nums %}
                <div class="fo-dt-box">
                    <div class="followers-datasets-box">
                        <p>{{ _('Followers') }}</p>
                        <p>{{ h.SI_number_span(organization.num_followers) }}</p>
                    </div>
                    <div class="followers-datasets-box">
                        <p>{{ _('Datasets') }}</p>
                        <p>{{ h.SI_number_span(organization.package_count) }}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endblock %}
        {% endblock %}
    </div>

{% endblock %}
