{#

Displays a test for results of a search.

query        - The text that was searched for
count        - The number of results for the search
type         - Search result type (dataset, group, organization)

Example:

  {% snippet 'snippets/search_result_text_li.html', query=query, count=count, type='dataset' %}

#}
{% if type == 'dataset' %}
  {% set text_query = ungettext('<span>{number}</span> dataset found for "{query}"', '<span>{number}</span> datasets found for "{query}"', count) %}
  {% set text_query_none = _('No datasets found for "{query}"') %}
  {% set text_no_query = ungettext('<span>{number}</span> dataset found', '<span>{number}</span> datasets found', count) %}
  {% set text_no_query_none = _('No datasets found') %}

{% elif type == 'group' %}
  {% set text_query = ungettext('<span>{number}</span> group found for "{query}"', '<span>{number}</span> groups found for "{query}"', count) %}
  {% set text_query_none = _('No groups found for "{query}"') %}
  {% set text_no_query = ungettext('<span>{number}</span> group found', '<span>{number}</span> groups found', count) %}
  {% set text_no_query_none = _('No groups found') %}

{% elif type == 'organization' %}
  {% set text_query = ungettext('<span>{number}</span> organization found for "{query}"', '<span>{number}</span> organizations found for "{query}"', count) %}
  {% set text_query_none = _('No organizations found for "{query}"') %}
  {% set text_no_query = ungettext('<span>{number}</span> organization found', '<span>{number}</span> organizations found', count) %}
  {% set text_no_query_none = _('No organizations found') %}
{%- endif -%}

{% if query %}
  {%- if count -%}
    {{ text_query.format(number=h.localised_number(count), query=query) | safe }}
  {%- else -%}
    {{ text_query_none.format(query=query) | safe }}
  {%- endif -%}
{%- else -%}
  {%- if count -%}
    {{ text_no_query.format(number=h.localised_number(count)) | safe }}
  {%- else -%}
    {{ text_no_query_none | safe }}
  {%- endif -%}
{%- endif -%}
