{% set current_url = h.full_current_url() %}
{% block social %}
    <div class="group-text-box">
        {% block social_title %}
            <h4 class="{{ 'data-text' if alt == true}}">{{ _('Social') }}</h4>
        {% endblock %}
        {% block social_nav %}
            <ul class="social-icons">
                <li><a href="https://plus.google.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-google-plus"></i> Google+</a></li>
                <li><a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
            </ul>
        {% endblock %}
    </div>
{% endblock %}
