<div class="additional-info-box">
  <h3>{{ _('Additional Info') }}</h3>
  <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">{{ _('Field') }}</th>
            <th scope="col">{{ _('Value') }}</th>
          </tr>
        </thead>
        <tbody>
          {% block package_additional_info %}
            {% if pkg_dict.url %}
              <tr>
                <td class="left-text-table">{{ _('Source') }}</td>
                {% if h.is_url(pkg_dict.url) %}
                  <td>{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
                {% else %}
                  <td>{{ pkg_dict.url }}</td>
                {% endif %}
              </tr>
            {% endif %}

            {% if pkg_dict.author_email %}
              <tr>
                <td class="left-text-table">{{ _("Author") }}</td>
                <td>{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
              </tr>
            {% elif pkg_dict.author %}
              <tr>
                <td class="left-text-table">{{ _("Author") }}</td>
                <td>{{ pkg_dict.author }}</td>
              </tr>
            {% endif %}

            {% if pkg_dict.maintainer_email %}
              <tr>
                <td class="left-text-table">{{ _('Maintainer') }}</td>
                <td>{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
              </tr>
            {% elif pkg_dict.maintainer %}
              <tr>
                <td class="left-text-table">{{ _('Maintainer') }}</td>
                <td>{{ pkg_dict.maintainer }}</td>
              </tr>
            {% endif %}

            {% if pkg_dict.version %}
              <tr>
                <td class="left-text-table">{{ _("Version") }}</td>
                <td>{{ pkg_dict.version }}</td>
              </tr>
            {% endif %}

            {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
              <tr>
                <td class="left-text-table">{{ _("State") }}</td>
                <td>{{ _(pkg_dict.state) }}</td>
              </tr>
            {% endif %}
            {% if pkg_dict.metadata_modified %}
              <tr>
                <td class="left-text-table">{{ _("Last Updated") }}</td>
                <td>
                    {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
                </td>
              </tr>
            {% endif %}
            {% if pkg_dict.metadata_created %}
              <tr>
                <td class="left-text-table">{{ _("Created") }}</td>
                <td>{% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}</td>
              </tr>
            {% endif %}

          {% block extras scoped %}
            {% for extra in h.sorted_extras(pkg_dict.extras) %}
              {% set key, value = extra %}
              <tr>
                <td class="left-text-table">{{ _(key) }}</td>
                <td>{{ value }}</td>
              </tr>
            {% endfor %}
          {% endblock %}

          {% endblock %}
        </tbody>
      </table>
    </div>
</div>
