{#
Displays a sidebard module with navigation containing the provided resources.
If no resources are provided then the module will not be displayed.

pkg       - The package dict that owns the resources.
active    - The id of the currently displayed resource.
action    - The controller action to use (default: 'resource_read').

Example:

  {% snippet "package/snippets/resources_li.html", pkg=pkg, active=res.id %}

#}
{% set resources = pkg.resources or [] %}
{% if resources %}
  {% block resources %}
    <div class="group-text-box data-menu-tabs">
      {% block resources_inner %}
        {% block resources_title %}
          <h4 class="data-text">{{ _("Resources") }}</h4>
        {% endblock %}
        {% block resources_list %}
          <ul class="nav nav-pills">
            {% for resource in resources %}
              <li class="{{ 'active' if active == resource.id }}">
                {% link_for h.resource_display_name(resource)|truncate(25), controller='package', action=action or 'resource_read', id=pkg.name, resource_id=resource.id, inner_span=true %}
              </li>
            {% endfor %}
          </ul>
        {% endblock %}
      {% endblock %}
  </div>
  {% endblock %}
{% endif %}
