{# 
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

  {% snippet "package/snippets/resources_list_li.html", pkg=pkg, resources=pkg.resources %}

#}
<h4>{{ _('Data and Resources') }}</h4>
{% block resource_list %}
    {% if resources %}
        <ul>
            {% block resource_list_inner %}
                {% for resource in resources %}
                    {% snippet 'package/snippets/resource_item_li.html', pkg=pkg, res=resource %}
                {% endfor %}
            {% endblock %}
        </ul>
    {% else %}
        <p class="empty">{{ _('This dataset has no data') }}</p>
    {% endif %}
{% endblock %}
