{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

<li class="resource-item" data-id="{{ res.id }}">
    {% block resource_item_title %}
      <div class="pdf-box">
          <a href="{{ url }}" title="{{ res.name or res.description }}">
            <img src="{{ h.url_for_static('/base/images/' ~ res.format.lower() ~ '.png')}}"/>
          </a>
      </div>
    {% endblock %}
    {% block resource_item_description %}
        <div class="Data-Set-box">
            <p class="Data-top-text">{{ h.resource_display_name(res) | truncate(50) }}</p>
            <p class="data-sub-text">
                {% if res.description %}
                    {{ h.markdown_extract(res.description, extract_length=70) }}
                {% endif %}
            </p>
        </div>
    {% endblock %}
    {% block resource_item_explore %}
        {% if not url_is_edit %}
            <div class="dropdown explore-button">
                <a href="#" data-toggle="dropdown">
                    {{ _('Explore') }}
                </a>
                <ul class="dropdown-menu">
                    {% block resource_item_explore_links %}
                        <li>
                            <a href="{{ url }}">
                                {% if res.has_views %}
                                    <i class="icon-bar-chart"></i>
                                    {{ _('Preview') }}
                                {% else %}
                                    <i class="icon-info-sign"></i>
                                    {{ _('More information') }}
                                {% endif %}
                            </a>
                        </li>
                        {% if res.url and h.is_url(res.url) %}
                            <li>
                                <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
                                    {% if res.has_views %}
                                        <i class="icon-download"></i>
                                        {{ _('Download') }}
                                    {% else %}
                                        <i class="icon-external-link"></i>
                                        {{ _('Go to resource') }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                        {% if can_edit %}
                            <li>
                                <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
                                    <i class="icon-edit"></i>
                                    {{ _('Edit') }}
                                </a>
                            </li>
                        {% endif %}
                    {% endblock %}
                </ul>
            </div>
        {% endif %}
    {% endblock %}
    <div class="clearfix"></div>
</li>
