{% extends "page_li.html" %}

{% block subtitle %}{{ _('Organizations') }}{% endblock %}

{% block pages_top_link_inner %}
    {% snippet 'snippets/breadcrumbs_li.html', breadcrumbTitle='Organizations', controller='organization', action='index' %}
{% endblock %}

{#
{% block page_primary_action %}
    {% if h.check_access('organization_create') %}
      {% link_for _('Add Organization'), controller='organization', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
    {% endif %}
{% endblock %}
#}

{% block article_inner %}
    <div class="groups-found-box">
    {% block organizations_search_form %}
        {% snippet 'snippets/search_form_li.html', form_id='organization-search-form', type='organization', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search organizations...'), show_empty=request.params, no_bottom_border=true if c.page.items %}
    {% endblock %}
    {% if c.page.items or request.params %}
        {% if c.page.items %}
            {% snippet "organization/snippets/organization_list_li.html", organizations=c.page.items %}
        {% endif %}
    {% else %}
        <p class="empty">
            {{ _('There are currently no organizations for this site') }}.
            {% if h.check_access('organization_create') %}
                {% link_for _('How about creating one?'), controller='organization', action='new' %}</a>.
            {% endif %}
        </p>
    {% endif %}
    </div>
{% endblock %}


{% block page_pagination %}
  {{ c.page.pager(q=c.q or '', sort=c.sort_by_selected or '') }}
{% endblock %}


{% block aside_inner %}
    <div class="group-text-box">
        {% snippet "organization/snippets/helper_li.html" %}
    </div>
{% endblock %}
