{% extends "page_li.html" %}

{% block subtitle %}{{ _('Login') }}{% endblock %}

{% block pages_top_link_inner %}
    <div class="pages-top-link">
        <a href="{{ h.url('home') }}"><i class="fa fa-home" aria-hidden="true"></i></a> 
        <span>/</span>
        {{ h.nav_link(_('Login'), controller='user', action='login') }}
    </div>
{% endblock %}

{% block aside_content %}{% endblock  %}

{% block article_content %}
    <div class="login-bg-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 login-box">
                    <h5>{{ _('Login') }}</h5>
                    {% block form %}
                        {% snippet "user/snippets/login_form_li.html", action=c.login_handler, error_summary=error_summary %}
                    {% endblock %}
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 forgotten-box">
                    <h5>{{ _('Forgotten your password?') }}</h5>
                    <p>{% trans %}No problem, use our password recovery form to reset it.{% endtrans %}</p>
                    <a href="{{ h.url_for(controller='user', action='request_reset') }}" class="forgot-button">{{ _('Forgot your password?') }}</a>
                </div>
                
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock  %}
