{% extends "page_li.html" %}

{% block subtitle %}{{ _('Groups') }}{% endblock %}

{% block pages_top_link_inner %}
    {% snippet 'snippets/breadcrumbs_li.html', breadcrumbTitle='Groups', controller='group', action='index' %}
{% endblock %}

{#
{% block page_primary_action %}
  {% if h.check_access('group_create') %}
    {% link_for _('Add Group'), controller='group', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}
#}

{% block article_inner %}
    <div class="groups-found-box">
    {% block groups_search_form %}
        {% snippet 'snippets/search_form_li.html', form_id='group-search-form', type='group', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search groups...'), show_empty=request.params, no_bottom_border=true if c.page.items, sorting = [(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
    {% endblock %}
    {% if c.page.items or request.params %}
        {% if c.page.items %}
            {% snippet "group/snippets/group_list_li.html", groups=c.page.items %}
        {% endif %}
    {% else %}
        <p class="empty">
            {{ _('There are currently no groups for this site') }}.
            {% if h.check_access('group_create') %}
                {% link_for _('How about creating one?'), controller='group', action='new' %}</a>.
            {% endif %}
        </p>
    {% endif %}
    </div>
{% endblock %}


{% block page_pagination %}
    {{ c.page.pager() }}
{% endblock %}


{% block aside_inner %}
    <div class="group-text-box">
        {% snippet "group/snippets/helper_li.html" %}
    </div>
{% endblock %}
