{% extends "page_li.html" %}

{% block subtitle %}{{ c.group_dict.display_name }} - {{ _('Groups') }}{% endblock %}

{% block pages_top_link_inner %}
<div class="pages-top-link">
    <div class="container">
        <div class="row">
            <a href="{{ h.url('home') }}"><i class="fa fa-home" aria-hidden="true"></i></a>
            <span>/</span>
            {% link_for _('Groups'), controller='group', action='index' %}
            <span>/</span>
            {% link_for c.group_dict.display_name|truncate(35), controller='group', action='read', id=c.group_dict.name %}
        </div>
    </div>
</div>
{% endblock %}


{% block aside_inner %}
    {% snippet 'group/snippets/info_li.html', group=c.group_dict, show_nums=true %}
    {% block organization_facets %}{% endblock %}
{% endblock %}