{% block info %}
  
    <div class="register-top-box">
        {% block inner %}
            <div class="register-box">
                {% block image %}
                    <img class="res-img-logo" src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" />
                {% endblock %}
                {% block heading %}
                    <p class="gdm-reg-text">{{ group.display_name}}</p>
                {% endblock %}
                {% if group.description %}
                    <p class="gdm-reg-sub-text">
                        {{ h.markdown_extract(group.description, 180) }}
                    </p>
                {% else %}
                    <p class="empty gdm-reg-sub-text">{{ _('There is no description for this group') }}</p>
                {% endif %}
                <a href="#"><i class="fa fa-plus"></i></a>
            </div>
            {% block nums %}
                <div class="fo-dt-box">
                    <div class="followers-datasets-box">
                        <p>{{ _('Followers') }}</p>
                        <p>{{ h.SI_number_span(group.num_followers) }}</p>
                    </div>
                    <div class="followers-datasets-box">
                        <p>{{ _('Datasets') }}</p>
                        <p>{{ h.SI_number_span(group.package_count) }}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endblock %}
        {% endblock %}
    </div>

{% endblock %}

