{% block header_wrapper %}
    {% block header_account %}{% endblock %}
    <header>
        <div class="header-top-bg">
            <div class="header-left-box">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
              </ul>
            </div>
            <div class="header-right-box" style="opacity: 0"> 
                <a href="#" class="live-chat"><i class="fa fa-comments" aria-hidden="true"></i> Live chat</a> 
                <a href="#" class="clien-text"><i class="fa fa-user" aria-hidden="true"></i> Client area</a> 
            </div>
            <div class="clearfix"></div>
            <div class="nav-menu">
                <nav class="navbar navbar-inverse">
                    {% block header_debug %}
                        {% if g.debug and not g.debug_supress_header %}
                            <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
                        {% endif %}
                    {% endblock %}
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                            <a class="navbar-brand" href="{{ h.url('home') }}"><img src="{{ h.url_for_static('/base/images/NDSS.jpg')}}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a> 
                        </div>
                        <div class="navbar-right">
                            <div class="collapse navbar-collapse nav-menu-nd" id="myNavbar">
                                <ul class="nav navbar-nav menu-home">
                                <li><a href="/">Home</a></li>
                                {% block header_site_navigation_tabs %}
                                  {{ h.build_nav_main(
                                    ('search', _('Datasets')),
                                    ('organizations_index', _('Organizations')),
                                    ('group_index', _('Groups')),
                                    ('about', _('About'))
                                  ) }}
                                {% endblock %}
                                </ul>
                                {% if not c.userobj %}  
                                    {% block header_account_notlogged %}
                                        <div class="sign-box"> <a href="#" class="sign-text"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Sign in</a> </div>
                                    {% endblock %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
{% endblock %}
